---
layout: layouts/base.njk
showHomeLink: false
---

<section class="siteIntro">
  <section class="lede">
    <h1>Welcome to the UTS Law, Refugee Law Clinic&nbsp;website.</h1>
    <p>
      Here you'll find supporting resources for the University of Technology Sydney, Faculty of Law's clinical <a href="http://www.handbook.uts.edu.au/subjects/details/78013.html" title="Read more about the course in the UTS Handbook.">Refugee Law and Practice</a> subject.
      The subject introduces students to the legal principles and procedures of international refugee law and their application within the Australian domestic context.
      Participating students are exposed to the practical realities of refugee law and practice through real world experience, with supervision by UTS Law academics together with a local refugee legal organisation.
    </p>
  </section>

  <h2>Clinic resources</h2>
  <ul class="resourceList">
    {%- for resource in collections.resource -%}
    <li class="resourceList__item">
      <h3 class="resourceList__itemHeading">
        <a href="{{ resource.url | url }}">
          {{ resource.data.postTitle }}
        </a>
      </h3>
      <p class="resourceList__itemDescription">{{ resource.data.description }}</p>
    </li>
    {%- endfor -%}
  </ul>
</section>
