/* basics */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}

img, video, object, iframe {
  max-width: 100%;
}

/* Type */

body {
  background: #fff;
  color: #323232;
  font-size: 16px;
  font-size: 1rem;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  line-height: 1.625;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 43em) {
  body {
    font-size: 18px; /* do we need this fallback? */
    font-size: 1.125rem;
  }
}

h1 {
  font-size: 1.625rem;
  line-height: 1.25;
  font-weight: bold;
  margin: 2.29rem 0 0;
}

@media screen and (min-width: 43em) {
  h1 {
    font-size: 2.29rem;
  }
}

@media screen and (min-width: 75em) {
  h1 {
    font-size: 2.95rem;
    margin: 2.29rem 0 0;
  }
}

@media screen and (min-width: 85em) {
  h1 {
    margin: 3.7rem 0 0;
  }
}

h1:first-child {
  margin-top: 0;
}

h2,
.lede h1,
.resourceList__itemHeading {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.25;
  margin: 2.29rem 0 0;
  text-transform: none;
}

@media screen and (min-width: 43em) {
  h2,
  .lede h1,
  .resourceList__itemHeading {
    font-size: 1.625rem;
    margin: 2.945rem 0 0;
  }
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .125em;
  line-height: 1.625;
  margin: 1.82rem 0 0;
  text-transform: uppercase;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.625;
  margin: 1.125rem 0 0;
  text-decoration: underline;
}

h5 {
  margin: 1.125rem 0 0;
}

h6 {
  margin: 1.125rem 0 0;
}

p {
  margin: 1.125rem 0 0;
}

strong {
  font-weight: bold;
}

cite,
em {
  font-style: italic;
}

abbr {
  border-bottom: 1px #aaa dashed;
  cursor: help;
  letter-spacing: .125em;
  text-decoration: none;
}

code {
  font-family: monospace;
}

blockquote {
  font-style: italic;
  border-left-color: #eaeaea;
  border-left-style: solid;
  border-left-width: .541rem;
  margin: 1.125rem 0;
  padding: 0 0 0 1.125rem;
}

@media screen and (min-width: 35em) {
  blockquote {
    padding-left: 1.625rem;
  }
}

hr {
  border: 0;
  border-bottom-color: #eaeaea;
  border-bottom-style: solid;
  border-bottom-width: .384rem;
  margin: 2.29rem 0;
  padding: 0;
}

.lede {
  font-size: 1.125rem;
}

@media screen and (min-width: 43em) {
  .lede {
    font-size: 1.4rem;
  }
}

.lede h1,
.lede p {
  margin: 0;
}

/* Links */

a,
button,
input,
select,
textarea,
label,
summary {
  touch-action: manipulation;
}

a {
  color: #467719;
  text-decoration: underline;
}

.post__body a:visited {
  color: #a27410;
}

a:hover,
a:focus,
.post__body a:hover,
.post__body a:focus {
  color: #000;
}

@supports (box-shadow: inset 0 -2px 0 #457719) {
  a {
    text-decoration: none;
    border-bottom: 0.05em solid #467719;
    box-shadow: inset 0 -0.05em 0 #467719;
  }

  .post__body a:visited {
    border-color: #a27410;
    box-shadow: inset 0 -0.05em 0 #a27410;
  }

  a:hover,
  a:focus {
  border-color: #000;
    box-shadow: inset 0 -0.05em 0 #000;
  }
}

/* Table */

table {
  font-size: 1rem;
  margin: 1.125rem 0 0;
  max-width: 100%;
  padding: 0;
  text-align: left;
}

thead {
  border-bottom: 1px #eaeaea solid;
}

thead th {
  vertical-align: bottom;
}

th {
  text-align: left;
  font-weight: bold;
}

th,
td {
  padding: 1rem 1rem 1rem;
  margin: 0;
}

tbody th,
tbody td {
  vertical-align: top;
  border-bottom: 1px #bbb solid;
}

tbody th {
  font-weight: normal;
}

tr th:first-child,
tr td:first-child {
  padding-left: 0;
}

@media screen and (min-width: 30em) {
  tr th:first-child,
  tr td:first-child {
    padding-left: 1rem;
  }
}

/* Lists */

ul,
ol {
  margin-top: 1.125rem;
  padding-left: 1.625rem;
}

@media screen and (min-width: 30em) {
  ul,
  ol {
    padding-left: 2.29rem;
  }
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0;
}

li {
  margin-top: 1.125rem;
}

dl {
  margin-top: 1.125rem;
}

dt {
  font-weight: bold;
  letter-spacing: .02em;
}

dd {
  margin: 0 0 1.125rem;
}

.resourceList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.resourceList__item {
  margin: 1.125rem 0 1.4rem;
}

@media screen and (min-width: 43em) {
  .resourceList__item {
    margin-bottom: 2.29rem;
  }
}

.resourceList__itemHeading {
  margin: 0;
}

.resourceList__itemDescription {
  margin-top: .43rem;
}

/* Layout */

body {
  margin: 0;
  padding: 0;
}

main,
.siteHeader,
.siteFooter {
  padding: 0 1em;
}

article {
  margin: 0 auto;
}

@media screen and (min-width: 50rem) {
  article {
    max-width: 39em;
  }
}

.siteHeader {
  height: 3.7rem;
  padding-top: 1rem;
}

@media screen and (min-width: 30rem) {
  .siteHeader {
    height: 3.7rem;
  }
}

@media screen and (min-width: 50rem) {
  .siteHeader {
    height: 6rem;
  }
}

@supports (display: grid) {
  body {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 3.7rem auto auto;
  }

  @media screen and (min-width: 30rem) {
    body {
      grid-template-rows: 4.765rem auto auto;
    }
  }

  @media screen and (min-width: 50rem) {
    body {
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: 6rem auto auto;
    }

    .siteHeader {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 1;
      height: 3.7rem;
    }

    main {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      padding: 0;
    }

    .siteFooter {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }

  @media screen and (min-width: 55rem) {
    body {
      grid-template-rows: 9rem auto auto;
    }
  }
}

.siteHeader {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.endNav {
  margin: 4.765rem 0 1rem;
}

.siteIntro {
  margin: 0 auto;
}

@media screen and (min-width: 50rem) {
  .siteIntro {
    max-width: 43rem;
  }
}

@media screen and (min-width: 55rem) {
  .siteIntro {
    max-width: 48rem;
  }
}

@media screen and (min-width: 60rem) {
  .siteIntro {
    max-width: 50rem;
  }
}

@media screen and (min-width: 50rem) {
  .siteFooter {
    margin-top: 3.7rem;
  }
}

/* Post */
.post__meta {
  font-size: 1rem;
  margin-top: 1.625rem;
}

.post__meta > dl,
.post__meta > a {
  display: inline-block;
}

.post__meta dl {
  margin: 0;
  padding-right: 1.125rem;
}

.post__meta dt,
.post__meta dd {
  display: inline;
  font-weight: normal;
}

.heading__anchorLink {
  color: transparent;
  text-decoration: none;
}

:hover > .heading__anchorLink,
:focus > .heading__anchorLink {
  color: #467719;
}

.endNav {
  font-size: 1.125rem;
}

.endNav a {
  text-decoration: none;
}

.endNav a:visited {
  color: #467719;
}

/* Site Header */

.siteHeader a:link,
.siteHeader a:visited {
  color: #467719;
  text-decoration: none;
  border: 0;
  box-shadow: none;
}

.siteHeader a:hover,
.siteHeader a:focus {
  color: #000;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.125;
  text-decoration: none;
}

.logo small {
  display: block;
  font-size: 1rem;
  font-weight: normal;
  width: 10rem; /* this is to contain it's width, would be nicer with max-content */
}

/* Site Footer */

.siteFooter {
  padding-bottom: 1em;
  opacity: .85;
  border-top: 1px solid #ccc;
}

.siteFooter:hover {
  opacity: 1;
}

.siteFooter > p:first-child {
  font-weight: bold;
}
