<footer class="siteFooter">
  <p>
    This website is an educational resource only.
    It does not contain any legal advice.
  </p>
  <p>
    <a href="https://gitlab.com/uts-refugee-law/refugee-law-clinic/blob/master/CONTRIBUTING.md" title="View the instructions for suggesting changes to this site on GitLab.">
      View the contributing guide
    </a>
  </p>
  <div class="siteCredits">
    <p>
      UTS Subject Refugee Law and Practice developed by
      <a href="https://www.uts.edu.au/staff/anthea.vogl" title="See Anthea Vogl's profile on UTS Online">Anthea Vogl</a>
      and
      <a href="https://www.uts.edu.au/staff/sara.dehm" title="See Sara Dehm's profile on UTS Online">Sara Dehm</a>,
      Faculty of Law, University of Technology Sydney.
    </p>

    <p>Website text authors: Sara Dehm, Ahmad Reza Khedry Gharibvand and Anthea Vogl.</p>

    <p>Website by <a href="http://equivalentideas.com/" title="Luke Bacon's webite">Luke Bacon</a>.</p>
  </div>
</footer>
