<header class="siteHeader">
  <a class="logo" role="banner" href="{{ '/' | url }}">
    <small>UTS Law</small>
    Refugee Law Clinic
  </a>
  {% if showHomeLink %}
    <a href="{{ '/' | url }}">← Home</a>
  {% endif %}
</header>
